body {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	/* top: 48%;
	left: 50%; */
	background-color: seashell;
}

.text {
	margin: 1em 0 0 0;
	position: relative;
	font-size: 2.5em;
	line-height: 1.4;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

.button {
	border: 1px dotted black;
	text-align: center;
	letter-spacing: .09em;
	font-size: 3em;
	font-weight: bold;
	padding: .5em;
	position: relative;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	cursor: pointer;
}

.button:hover {
	background-color: grey;
	color: white;
}

.button:active {
	background-color: tomato;
}

.title {
	position: relative;
	font-size: 2.5em;
	line-height: 1.4;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	font-weight: bold;
}

footer {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: grey;
}

a:active {
	color: tomato;
}
