h1 {
	position: relative;
	top: 100px;
	left: 150px;
}

.container {
	width: 50%;
}

.text {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	/* width: 640px; */
	position: absolute;
	top: 20vh;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #838384;
}

/* .blank {
	color: red;
} */

.button {
	font-family: sans-serif;
	font-size: 1.2em;
	text-align: center;
	line-height: 1.5em;
	width: 10em;
	height: 3em;
	background: red;
	color: white;
	border-radius: 15px;
	position: absolute;
	top: 4em;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}